$primary-normal: #1e0f06;
$primary-dark: #1a0d04;
$primary-light: #35200c;

$secondary-normal:#110d09;
$secondary-dark: #0c0906;
$secondary-light: #251e1a;


$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #ffffff;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #d96440;
$red-dark: #b4522b;
$red-light: #d36a40;
